body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f7f8fa;
    color: #444;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    color: #ffcb05;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Press Start 2P', cursive;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff4500;
}

#pokemon-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pokemon-image {
    max-width: 220px;
    max-height: 220px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ffcb05;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.pokemon-image:hover {
    transform: scale(1.1);
}

.pokemon-name {
    color: #ffcb05;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#history-container {
    margin-top: 30px;
    font-size: 16px;
    color: #333;
}

#history-container div {
    background-color: #ffcb05;
    color: #444;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}
